.cabecalho {
   max-width: 100%;
   display: grid;
   grid-template-columns: auto 1fr;
   background-image: url("../img/agoraVai.png");
   height: 550px;
   
   object-fit: fill;
}

.cabecalho_logo {
   margin-left: 220px;
   padding: 40px;
   width: 28%;
}

.cabecalho_navegacao {
   display: flex;
   gap: 50px;
   justify-content: center;
   color: white;
   font-family: "Poppins";
   font-size: 1.6rem;
   margin-top: 60px;
   margin-right: 70px;
}

.titulo {
   font-family: "Poppins";
   font-size: 4.5rem;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 40px;
   font-weight: 500;
   letter-spacing: 2px;
   margin-top: 30px;
}

.sessao-section1 {
   position: relative;
   top: -450px;
   color: white;

}

.sessao {
   margin-top: 130px;
   width: 100%;
   display: inline-block;
   justify-content: center;
   background: #DFE3F5;
   
   padding: 50px;

}

.img-section {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 15px;
   width: 850px;
   padding: 15px;
   box-shadow: 0 1px 0px 1px #00000020;
}

.titulo-destaque {
   text-align: center;
   font-size: 2.5rem;
   color: black;
}

.subtitulo {
   text-align: center;
   font-size: 2rem;
   padding: 10px;
   color: black;
}

.paragrafo-header {
   max-width: 65ch;
   font-family: "Open Sans";
   font-size: 1.6rem;
   line-height: 34px;
   letter-spacing: 0.5px;
   text-align: center;
   margin-left: 599px;
   margin-bottom: 50px;
   
}

.botao {
   width: 400px;
   height: 60px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   color: white;
   background: url();
   border: 1px solid white;
   border-radius: 5px;
   font-size: 1.3rem;
   cursor: pointer;
}

.bot {
   width: 400px;
   height: 60px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   color: #B72E2E;
   background: url();
   border: 1px solid #B72E2E;
   border-radius: 5px;
   font-size: 1.3rem;
   cursor: pointer;
}


.section-icones {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   background: #F7F4F4;
   color: black;
   padding-top: 130px;
   padding-bottom: 250px;
   position: relative;

}

.h2-section {
   font-size: 1.8rem;
   font-family: "Roboto";
   justify-content: center;
   align-items: center;
   text-align: center;
   font-weight: 500;
   margin-left: 50px;

}

.icone-section {
   margin-right: 10px;
   
}

.paragrafo-section {
   font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
   letter-spacing: 0em;
   justify-content: center;
   align-items: center;
   text-align: center;
   position: relative;
   margin-left: 300px;
   font-size: 1.4rem;
   line-height: 25px;
   max-width: 45ch;
   font-weight: 400;
   padding-top: 25px;
   
   max-width: 40ch;
}

.li-section {
   margin-left: 580px;
   position: absolute;
   margin-top: 250px;

}

.section-sobre {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 40px;
   justify-content: center;
   align-items: center;
   text-align: center;
   position: inherit;
   color: #4F4C4C;
   padding-left: 220px;
margin-bottom:50px;

}

.lista-sobre {
   display: flex;

   gap: 90px;

}

.paragrafoss {
   display: inline-block;

}

.img-sobre {
   width: 600px;
   margin-top: 80px;
   height: 500px;
   padding-left: 55px;
   object-fit: contain;
}

.h1-sobre {
   font-family: "Poppins";
   font-weight: 500;
   font-size: 3rem;
   color: #4F4C4C;
}


.paragraf {
   font-family: Open Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 1.4rem;
   line-height: 30px;
   max-width: 80ch;
   padding-top: 5px;
}

.sessao-planos {
   color: #181616;
   background: #F7F4F4;
padding: 40px;

}

.lista-planos-sessao {
   display: flex;
   gap: 40px;
   justify-content: center;
   align-items: center;
   margin-bottom: 15px;
   padding: 15px;
   background: #F7F4F4;
}

.art-planos {
margin-top: 15px;
   padding: 20px;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.063);
   border-radius: 5px;
   background-color: white;
}
.art-planos2{
   width: 320px;
   height: 370px;
   padding: 30px;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.063);
   border-radius: 5px;
   background-color: white;
}
.h2-sobre {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   font-family: "Montserrat";
   font-weight: 500;
   font-size: 2.3rem;
   color: #4F4C4C;
}
.paragrafo-sessao {
   font-family: "Roboto";
   font-size: 1.3rem;
   padding: auto;
   font-weight: 400;
   line-height: 20px;
   color: #666666;
   padding: 10px;
}

.botoes {
   width: 300px;
   height: 30px;
   display: block;
   color: #56CCF2;
   background: url();
   border: 1px solid #56CCF2;
   cursor: pointer;
   text-align: center;
   font-weight: 600;
   font-size: 1.5rem;
   margin-top: 20px;
   border-radius: 5px;
}

.botoes2 {
   width: 300px;
   height: 35px;
   display: block;
   color: #B04CD9;
   border: 1px solid #B04CD9;
   cursor: pointer;
   text-align: center;
   font-weight: 600;
   font-size: 1.5rem;
   margin-top: 20px;
   border-radius: 5px;
}

.paragrafo-sessao-reais {
   color: #56CCF2;
   font-size: 2.8rem;
   margin-top: 20px;
   font-weight: 900;
   text-align:center;
}

.h2-sobre2 {
   color:
      #B04CD9;
   font-size: 2.8rem;
   text-align:center;
}

.paragrafo-sessao-reais2 {
   color:
      #B04CD9;
   font-size: 2.8rem;
   margin-top: 20px;
   font-weight: 900;
   text-align:center;
}

.paragrafo-sessao3 {
   color:
      #E33B3B;
   font-size: 2.8rem;
   margin-top: 20px;
   font-weight: 900;
   text-align:center;
}

.h2-sobre3 {
   color:
      #E33B3B;
   font-size: 2.8rem;
   text-align:center;
}
.botoes3 {
   width: 300px;
   height: 30px;
   display: block;
   color:
      #E33B3B;
   background: url();
   border: 1px solid #E33B3B;;
   cursor: pointer;
   text-align: center;
   font-weight: 600;
   font-size: 1.5rem;
   margin-top: 20px;
   border-radius: 5px;
}
.linha {

   background: #DFE3E5;

}
.contato_titulo{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 2.3rem;
 margin-top: 20px;
}

.sessao-contaos{
   display: grid;
   grid-template-columns:1fr;
   text-align:center;
   color:black;
   padding-bottom: 30px;
}
.botaos{
   width: 300px;
   height: 40px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   color: 
   #4F4C4C;
   background: url();
   border: 1px solid #4F4C4C;
   padding-top: 20px;
   border-radius: 5px;
   font-size: 1.4rem;
   cursor: pointer; 
}.contato_titulo-intitucional{
   color:black;
   margin-top: 40px;
   margin-bottom: 20px;
   text-align: center;
   font-size: 2.3rem;

}
.paragrafo-sessao2{
   color: #666666;
   font-size: 1.4rem;
   margin-left: 40px;
   padding: 20px;
}
.institucional_endereco{
   color: #666666;
   font-size: 1.4rem;
   margin-left: 40px;
   padding: 20px;
   font-size: 1.5rem;
   font-family: "Poppins";
   line-height: 33px;
}
.institucional_contato-telefone{
   color: #666666;
   font-size: 1.4rem;
}
.linkcontato{
   color:
   #0084FF ;
}
.video{
   width:550px;
   height:350px;
   position:relative;
   display: block;
   margin-left: 1200px;
   margin-right: auto;
   margin-top: -240px;
}
footer{
   background-color: #666666;
   padding: 45px;
   margin-top: -420px;
   max-width: 100%;
}
.footer-rodape{
   display: flex;
   gap: 30px;
}
.rodape__social{
   margin-left: 1300px;
   padding: 20px;
}
.rodape__social{
   display: flex;
   gap: 30px;

}
.cabecalho_logo2{
   max-width: 330px;
}